{% extends './layout.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<h2 class="center-align tex">Login To Continue</h2>
	</div>
    {% if Data %}
      <div class="row">
        <h5 class="center-align tex">{{Data}}</h5>
      </div>
    {% endif %}
	<div class="row ">
        <form class="col s4 offset-s4 card-panel amber lighten-3 " action="" method="POST">
        	{% csrf_token %}
          <div class="row">
            <div class="col s4 offset-s4" style="text-align: center;">
              <h4>Login</h4>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="user_name" name="user_name" type="text" class="validate" required="">
              <label for="user_name">User Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" name="password" type="password" class="validate" required="">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
            </div>
          </div>
       </form>
    </div>
    <script type="text/javascript" src={% static 'js/materialize.min.js' %}></script>

{% endblock %}